<h1> Add Bookmark </h1>
<form action='/links' method='post'>
  <label for= 'Title'> Title </label>
  <input type='text' name='Title'>
  <label for= 'URL'> URL </label>
  <input type='text' name='URL'>
  <label for= 'Tags'> Tags </label>
  <input type='text' name='Tags'>
  <input type='submit' value='Add Bookmark'>
</form>
